aclocal.m4
autom4te.cache
build/*
build-aux/*
!build-aux/config.rpath
configure
configure~
config.log
config.status
Makefile
Makefile.in
src/config.h.in
src/c64play
.deps
build
.dirstamp
*.o
*.la
*.lo
src/config.h
src/config.h.in~
src/stamp-h1
